.Name{
    background-color: black;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center
}
.TopEmpty{
    background-image: url(gravel.png);
    border-top: 3px solid black
}
.BottomEmpty{
    background-image: url(gravel.png);
}
img {
    float: left
}
footer{
    text-align: center;
    background-color: #666666;
    border-top: 5px solid #4aaaa5
}
.Sides {
    background-image: url(gravel.png);
    padding-top: 30em;   
}
.SidesContact {
    background-image: url(gravel.png);
    padding-top: 30em;   
}
.SidesPortfolio {
    background-image: url(gravel.png);
    padding-top: 30em;   
}
.pad_menu{
    background: #c2c4c3
}
.Body{
    background-color: #c2c2c2
}*/
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
  h3{
      color: #4aaaa5;
      border-bottom: 2px solid black
  }
  p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5
  }
  button{
        color: rgb(255, 255, 255);
        font-size: 16px; 
        line-height: 16px; 
        padding: 6px; 
        border-radius: 10px; 
        font-family: Georgia, serif; 
        font-weight: normal; 
        text-decoration: none; 
        font-style: normal; 
        font-variant: normal; 
        text-transform: none; 
        background-image: linear-gradient(to right, rgb(171, 174, 175) 0%, rgb(149, 149, 150) 50%, rgb(94, 95, 95) 100%); 
        box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
        border: 2px solid rgb(17, 17, 17); 
        display: inline-block;
    }
.Button:hover {
        background: rgb(128, 130, 131); 
    }
.Button:active {
        background: rgb(86, 87, 88); 
    }

input {
    width: 100%;
}

form{
    width: 575px;
    height: 275px
}

textarea {
    width: 100%;
}
.ImageLayout{
    float: left
}
.card{
    float: right;
    margin: 10px;
    padding: 5px;
    border: #666666 solid 2px
}

.mypic{
    padding-right: 2px;
    border: 1px solid black
}
.btn-group {
    padding-right: 2px
}